extend layout 

block content
    section.centered-column
        h4.text-silver.mt-md Welcome #{user.name} !
        a.mb-lg.text-diamond(href="/") Back to homepage
        form.main-form.centered-item(method='POST')
            input.mb-md(type="name" name="username" placeholder= user.username)
            button.btn.btn-diamond.mb-lg(type='submit') Change username 
        form.main-form.centered-item(method='POST')
            input.mb-md(type="email" name="email" placeholder= user.email)
            input.mb-md(type="password" name="password" placeholder="Password")
            button.btn.btn-diamond.mb-lg(type='submit') Change email        
        form.main-form.centered-item.mb-md(method='POST') 
            input.mb-md(type="password" name="password" placeholder="Current password")
            input.mb-md(type="password" name="password2" placeholder="New password")
            button.btn.btn-diamond(type='submit') Change Password