extends layout

block content

    .container.gradient(style='min-height:70vh')
        .main-header.row.mt-lg.mb-lg.spaced
            .item-full-sm.item-2-md.text-diamond
                | Welcome to
                br 
                h3.text-silver Ynov Treasure
                ul.navbar-links
                    li.mb-lg
                        a.btn.btn-diamond(href="/login") Sign in
                    li.mt-lg
                        a.btn.btn-silver(href="/register") Register
            .item-full-sm.item-2-md
                img.img-responsive(src="./images/treasures.png", alt="")
    .container.bg-w.shadow
        .row.centered
            h6.text-center.text-silver.mt-lg.mb-md 
                i Paris sous un nouvel angle.
            p.mb-md.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae sit nostrum iusto iste in nisi sapiente ullam ea at, est temporibus accusantium quasi magnam. Est veritatis cumque esse magnam eaque?
            a.btn.btn-silver.mb-lg(href="/about") More about us
    .parallax-window.bg-img-diamond(data-parallax="scroll" data-image-src="./images/homepage.jpg" style="height:35vh")
    .container.bg-w.shadow.gradient
        .row.around
            .main-feature
                figure.feature-figure.mt-lg
                    img.img-responsive.feature-img(src="./images/user.png", alt="user")
                hr.little-hr
                p.figure-desc.mt-lg.mb-lg Create your user profil or sign in. ( 
                    a.text-diamond(href="/login") sign in 
                    | or 
                    a.text-diamond(href="/register") register 
                    | )
            .main-feature
                figure.feature-figure.mt-lg
                    img.img-responsive.feature-img(src="./images/compass.png", alt="user")
                hr.little-hr
                p.figure-desc.mt-lg.mb-lg Join a party and discover amazing places.
            .main-feature
                figure.feature-figure.mt-lg
                    img.img-responsive.feature-img(src="./images/heart.png", alt="user")
                hr.little-hr
                p.figure-desc.mt-lg.mb-lg Enjoy your victory. It is free forever !
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="./js/parallax.js")