extends layout

block content

  include nav

  section.main.mb-lg
    .card.mt-lg.shadow
      .card-top
        figure.mt-lg
          img(src='images/silver.png', alt='')
        h3.text-uppercase.text-silver
          | silver
        span.text-silver.text-uppercase
          | Solo
        span.card-price.text-uppercase
          b
            | $
            big 12
          |  to win
      .card-bot.gradient
        ul.text-silver
          li Dificulty : 
            span.silver-dificulty Easy
          li Timeout : 
            span.silver-timeout 60min
          li 
            | Current players : 
            span.silver-players ? 
            | / 20
        a.btn.btn-silver.text-uppercase.mb-lg(href='/game') Join
    .card.mt-lg.shadow
      .card-top
        figure.mt-lg
          img(src='images/diamond.png', alt='')
        h3.text-uppercase.text-diamond
          | diamond
        span.text-silver.text-uppercase
          | Solo
        span.card-price.text-uppercase
          b
            | $
            big 99
          |  to win
      .card-bot.gradient
        ul.text-silver
          li Dificulty : 
            span.diamond-dificulty Hard
          li Timeout : 
            span.diamond-timeout 30min
          li 
            | Current players : 
            span.diamond-players ? 
            | / 15
        a.btn.btn-diamond.text-uppercase.mb-lg(href='/game') Join
