extend layout 

block content
    form.main-form.centered-column(method="POST" action="/login")
        label.mb-sm(for="username") Username
        input.mb-lg(type="name" name="username")
        label.mb-sm(for="password") Password
        input.mb-lg(type="password" name="password")
        button.btn.btn-diamond.mb-md(type='submit') Connect
        span Don't have an account ?
            a.text-diamond(href="/register") Register here