block nav
    nav.navbar
        a.navbar-brand(href="")
            img(src="./images/brand.png", alt="y")
        ul.navbar-links
            li
                a.btn.btn-diamond(href="") Account 
            li 
                a.btn.btn-silver(href="") Logout