block nav
    nav.navbar.shadow.gradient
        a.navbar-brand(href="/")
            img(src="./images/brand.png", alt="y")
        ul.navbar-links
            if authenticated
                li 
                    a.btn.btn-diamond.text-uppercase(href="/account") #{user.username}
                li 
                    a.btn.btn-silver(href="/logout") Logout
            else
                li 
                    a.btn.btn-diamond(href="/login") Sign in
                li 
                    a.btn.btn-silver(href="/register") Register
