block overlay
    .overlay.centered-column
        h3.text-silver.mb-lg Oups ! You need to be connected to continue.
        a.btn.btn-diamond(href="/login") Connect 
        span or
        a.btn.btn-silver(href="/register") Register 