extends layout

block content

    include nav
    .container.bg-w.shadow
        .main-col.centered(style="width:70%;")
            h6.text-center.text-diamond.text-uppercase.mt-lg.mb-md Our team
            hr.little-hr
            p.mt-md.mb-lg.text-center We are the 
                i.text-diamond Ynov Treasure's 
                | team
    .container.gardient.team
        .team-row
            .card.mt-lg.shadow.mb-lg
                .card-top
                    figure.mt-lg
                        img.rounded.shadow(src='images/cherif.jpeg', alt='')
                    h3.text-uppercase.text-diamond
                        | Cherif
                    span.text-uppercase.mb-md
                        | Lead developer
                .card-bot.gradient
                    ul.text-silver
                        li.text-diamond.mb-md Strengths
                        li nodeJS
                        li AR JS
                        li threeJS
            .card.mt-lg.shadow.mb-lg
                .card-top
                    figure.mt-lg
                        img.rounded.shadow(src='images/marwin.jpeg', alt='')
                    h3.text-uppercase.text-silver
                        | Marwin
                    span.text-uppercase.mb-md
                        | Business developer
                .card-bot.gradient
                    ul.text-silver
                        li.text-diamond.mb-md Achievements
                        li Business plan
                        li Business model
            .card.mt-lg.shadow.mb-lg
                .card-top
                    figure.mt-lg
                        img.rounded.shadow(src='images/tristan.jpeg', alt='')
                    h3.text-uppercase.text-silver
                        | Tristan
                    span.text-uppercase.mb-md
                        | Fullstack developer 
                .card-bot.gradient
                    ul.text-silver
                        li.text-diamond.mb-md Strengths
                        li nodeJS
                        li SASS
                        li gulpJS
                        li passportJS
    .parallax-window.bg-img-diamond(data-parallax="scroll" data-image-src="./images/homepage.jpg" style="height:35vh") 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="./js/parallax.js")   