@import "utilities/variables";

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    color: $dark;
    font-family: 'Avenir';
}

.navbar{
    width: 100%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, $bg-card, $bg-color);
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .navbar-brand{
        height: 60px;
        margin: 15px;
        img{
            height: 100%;
            width: auto;
        }
    }
    .navbar-links{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        li{
            margin: 15px;
        }
    }
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
        margin-bottom: 10px;
        outline: none;
        border: solid 1px $light;
        padding: 10px;
        font-size: 13px;
        border-radius: 50px;
        transition: border-color .3s linear, box-shadow .3s linear;
        width: 50%;
        max-width: 200px;
    }
    input:focus{
        border-color: $purple;
        box-shadow: 0 0px 15px 0 $purple;
    }
    label{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    span{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
        a{
            color: $purple;
        }
    }
}

.card{
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    .card-top, .card-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .card-top {
        background-color: $bg-card;
        figure{
            margin: 30px 0 0 0;
            width: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .card-title{
            font-size: 40px;
            margin: 5px 0;
            font-weight: lighter;
        }
        .card-subtitle{
            font-size: 12px;
        }
        .card-price{
            font-size: 14px;
            b {
                font-size: 30px;
                big{
                    font-size: 60px;
                }
            }
        }
    }
    .card-bot {
        background-image: linear-gradient(to bottom, $bg-card, $bg-color);
        border-top: 1px solid $bg-color;
        ul{
            font-weight: lighter;
            list-style: none;
            padding: 0;
            text-align: center;
            color: $light;
            li{
                font-size: 16px;
            }
        }
    }
}

.btn{
    outline: none;
    border: none;
    padding: 10px 50px;  
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 30px;
    opacity: .8;
    transition: opacity .3s linear, box-shadow .3s linear;
}

.btn:hover{
    opacity: 1;
}

.card-diamond{
    .card-title{
        color: $diamond;
    }
}

.card-silver{
    .card-title{
        color: $silver;
    }
}

.btn-diamond{
    background-color: $diamond;
    box-shadow: 0 0px 5px 0 $diamond;
}

.btn-diamond:hover {
    box-shadow: 0 0px 15px 0 $diamond;
}

.btn-silver{
    background-color: $silver;
    box-shadow: 0 0px 5px 0 $silver;
}

.btn-silver:hover {
    box-shadow: 0 0px 15px 0 $silver;
}

@media screen and (min-width: 480px){
    .card{
        width: 60%;
    }
}

@media screen and (min-width: 800px){
    .main{
        width: 90%;
        margin: auto;
    }
    .card{
        width: 40%;
    }
}