.navbar{
    width: 100%;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, $bg-card, $bg-color);
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .navbar-brand{
        height: 60px;
        margin: 15px;
        img{
            height: 100%;
            width: auto;
        }
    }
    .navbar-links{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        li{
            margin: 15px;
        }
    }
}